* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

body {
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.logo-section {
    text-align: center;
    margin-top: 2rem;
}

.logo-section i {
    font-size: 3rem;
    color: rgb(238, 231, 231);

}
.l {
    font-size: 4rem;

    color: rgb(238, 231, 231);
}
.mb {
    font-size: 3rem;
    color: rgb(238, 231, 231);

}
.header-section {
    text-align: center;
    margin-top: 2rem;
}

.header-section h1 {
    margin-top: -1rem;
    font-size: 4rem;
    letter-spacing: 3px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.saler {
    margin-top: -1rem;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(255, 255, 255);
}

main {
    text-align: center;
    margin-top: 3rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  
  .slider-container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
  
  .slider-container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }



  .i-tag {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }

  .video-container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .video {
    margin-top: 3rem;
    width: 22%;
    margin-left: 1.5rem;
    border-radius: 10px;
  }




.footer {
  margin-top: 10rem;
  background-color: rgba(48, 48, 160, 0.274);
  padding: 5rem;
  position: relative;
}

.footer a {
  text-decoration: none;
}

.footer span {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: white;
}
.footer i {
  font-size: 1.5rem;
  color: rgb(223, 104, 104);
}

.footer-box {
  margin-top: 1rem;
}

.inner-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 600px) {
  .video-container {
      display: block;
      text-align: center;
  }
  
  .video {
      width: 90%;
      margin: 1.5rem auto;
  }
  .footer {
    padding: 4rem;
}

.footer span, .footer i {
    font-size: 1.2rem;
    margin-left: 0;
}

.footer-box {
    margin-top: 0.5rem;
}

.inner-footer {
    width: 100%;
    text-align: center;
}
}

@media (min-width: 601px) and (max-width: 1000px) {

  .video {
    margin-top: 3rem;
    width: 35%;
    margin-left: 1.5rem;
    border-radius: 10px;
  }
  .footer {
    padding: 4rem;
}

.footer span, .footer i {
    font-size: 1.2rem;
    margin-left: 0;
}

.footer-box {
    margin-top: 0.5rem;
}

.inner-footer {
    width: 100%;
    text-align: center;
}
}